<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSA Encryption</title>
</head>
<body>
    <h1>RSA Шифрование</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        <label for="text">Текст:</label>
        <input type="text" name="text" required><br><br>

        <label for="action">Действие:</label>
        <select name="action">
            <option value="Encrypt">Зашифровать</option>
            <option value="Decrypt">Расшифровать</option>
        </select><br><br>

        <input type="submit" value="Выполнить">
    </form>

    {% if result %}
        <br><h2>Result:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
